@import "tailwindcss";
@plugin "tailwindcss-animate";

/* ====== Tokens (Tailwind v4 @theme) ====== */
@theme inline {
  --bg: 255 255 255;     /* Blanco principal */
  --fg: 11 11 11;        /* Texto oscuro */

  --red: 229 57 53;      /* Mazo rojo */
  --blue: 30 136 229;    /* Mazo azul */
  --yellow: 254 228 64;  /* Mazo amarillo */
}

html, body {
  height: 100%;
  background: rgb(var(--bg));
  color: rgb(var(--fg));
  font-family: var(--font-sans);
}
html {
  scroll-behavior: smooth;
}



a { text-decoration: none; }
a:hover { text-decoration: underline; }
button { cursor: pointer; }
